@model IEnumerable<SportEvent.Models.Event>

@{
    ViewData["Title"] = "Admin Pannel";
    Layout = "_Layout1";
}

<h1>Admin Pannel</h1>

<blockquote class="">
    <p>This is the admin pannel where you can add new users and add new events!</p>
    <p>Click on Events or Users</p>
</blockquote>
<blockquote class="">
    <p> To add a new admin to the system, register a new admin</p>
</blockquote>

